# =========================
# Visual Studio / .NET
# =========================
.vs/
**/bin/
**/obj/
*.user
*.suo

# =========================
# Android Studio / Gradle
# =========================
**/.gradle/
**/.idea/
**/build/
*.iml

# Archivos locales de Android
**/local.properties
**/location.properties

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db